{% extends "base.html" %}
{% block page_title %}
    Lista tarefa
{% endblock page_title %}
    Lista tarefa

{% block content %}
<h1>
    Lista de tarefas
</h1>
{% if todo_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Criado em </th>
                <th scope="col">Data de entrega</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list%}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.create_at}}</td>
                    <td>{{todo.dead_line}}</td>
                    <td>{{todo.finshed_at|default:"-"}}</td>
                    <td>
                        <a href="{% url "completar" pk=todo.pk %}" class="btn btn-primary btn-sm {% if todo.finshed_at %}disabled{% endif %}">Concluir</a>
                        <a href="{% url "editar" pk=todo.pk %}" class="btn btn-secondary btn-sm {% if todo.finshed_at %}disabled{% endif %}">Editar tarefa</a>
                        <a href="{% url "deletar" pk=todo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Criado em </th>
            <th scope="col">Data de entrega</th>
            <th scope="col">Finalizado em</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">0</th>
                <td>Nada cadastrado</td>
                <td>Nada cadastrado</td>
                <td>Nada cadastrado</td>
                <td>Nada cadastrado</td>
            </tr>
    </tbody>
</table>
{% endif %}
<a href="{% url "create" %}" class="btn btn-primary">Criar tarefa</a>    






{% endblock content %}









